# node_modules and dist are not needed
dist
node_modules

# elastic beanstalk
.elasticbeanstalk

# linting
.eslintrc.js 
.prettierrc

# git
.gitignore

# tests
test
*.spec.ts

# documentation
README.md